# **Midterm Project- Critter Country Zoo**

Use the below cells to complete your scripts for the midterm projects. Feel free to add additional cells as needed.

In [5]:
--Create Transactions
BEGIN TRY
    BEGIN TRANSACTION;

    --Create employee table
    CREATE TABLE cc_employee (
        employeeID INT PRIMARY KEY,
        employeeName VARCHAR(50),
        jobCategory VARCHAR(50),
        salary DECIMAL(10, 2),
        shift VARCHAR(10)
    );

    --Create enclosure table
    CREATE TABLE cc_enclosure (
        enclosureID INT PRIMARY KEY,
        enclosureName VARCHAR(50),
        minTemperature FLOAT,
        maxTemperature FLOAT,
        squareFootage FLOAT,
        groundskeeperID INT,
        FOREIGN KEY (groundskeeperID) REFERENCES cc_employee(employeeID)
            ON DELETE SET NULL
    );

    --Create animal table
    CREATE TABLE cc_animal (
        animalType VARCHAR(50),
        animalName VARCHAR(50),
        age INT,
        enclosureID INT,
        diet VARCHAR(50),
        trainerID INT,
        FOREIGN KEY (enclosureID) REFERENCES cc_enclosure(enclosureID)
            ON DELETE CASCADE,
        FOREIGN KEY (trainerID) REFERENCES cc_employee(employeeID)
            ON DELETE SET NULL
    );

    COMMIT TRANSACTION;
END TRY

BEGIN CATCH
    ROLLBACK TRANSACTION;
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

In [6]:
--Insert Transactions
BEGIN TRY
    BEGIN TRANSACTION;

    --Insert employees
    INSERT INTO cc_employee (employeeID, employeeName, jobCategory, salary, shift) 
    VALUES 
    (0001, 'Alice', 'Trainer', 45000, 'Day'),
    (0002, 'Alf', 'Trainer', 46000, 'Night'),
    (0003, 'Bob', 'Trainer', 47000, 'Day'),
    (0004, 'Blake', 'Trainer', 48000, 'Night'),
    (0005, 'Clyde', 'Trainer', 49000, 'Day'),  --Sacrifical Trainer
    (0006, 'Sylvester', 'Groundskeeper', 35000, 'Day'),
    (0007, 'Bugs', 'Groundskeeper', 36000, 'Day'),
    (0008, 'Willy', 'Groundskeeper', 37000, 'Day'),
    (0009, 'Leo', 'Groundskeeper', 37000, 'Day'),
    (0010, 'Hanna', 'Groundskeeper', 37000, 'Day'),
    (0011, 'Homer', 'Director', 90000, 'Day'),
    (0012, 'Jack', 'Food Worker', 30000, 'Night'),
    (0013, 'Karen', 'Food Worker', 32000, 'Day');

    --Insert enclosures:
    INSERT INTO cc_enclosure (enclosureID, enclosureName, minTemperature, maxTemperature, squareFootage, groundskeeperID)
    VALUES 
    (1000, 'Waterworks', 50, 80, 5000, 0006),
    (2000, 'Sundown Sahara', 85, 110, 6000, 0007),
    (3000, 'Rowdy Rainforest', 70, 95, 4500, 0008),
    (4000, 'Polar Place', 30, 50, 4000, 0009),
    (5000, 'Windy Woods', 40, 60, 5500, 0010);

    --Insert animals:
    INSERT INTO cc_animal (animalType, animalName, age, enclosureID, diet, trainerID)
    VALUES
    ('Penguin', 'Pingu', 3, 4000, 'Fish', 0001),
    ('Penguin', 'Waddles', 2, 4000, 'Fish', 0001),
    ('Penguin', 'Flip', 4, 4000, 'Fish', 0001),
    ('Lion', 'Simba', 5, 2000, 'Meat', 0002),
    ('Lion', 'Nala', 4, 2000, 'Meat', 0002),
    ('Parrot', 'Polly', 2, 3000, 'Fruit', 0003),
    ('Parrot', 'Feathers', 3, 3000, 'Fruit', 0003),
    ('Bear', 'Grizzly', 7, 5000, 'Meat', 0004),
    ('Bear', 'Honey', 6, 5000, 'Meat', 0004),
    ('Polar Bear', 'Snowball', 5, 4000, 'Fish', 0001),
    ('Shark', 'Jaws', 3, 1000, 'Fish', 0001),
    ('Shark', 'Fin', 4, 1000, 'Fish', 0001),
    ('Shark', 'Bitey', 2, 1000, 'Fish', 0001),
    ('Snake', 'Slither', 2, 3000, 'Meat', 0003),
    ('Coyote', 'Howler', 5, 5000, 'Meat', 0004),
    ('Coyote', 'Runner', 4, 5000, 'Meat', 0004),
    ('Rhino', 'Chubby Unicorn', 6, 2000, 'Plants', 0002),
    ('Hippo', 'Moo Deng', 7, 1000, 'Plants', 0001),
    ('Hippo', 'Sally', 8, 1000, 'Plants', 0001);

    COMMIT TRANSACTION;
END TRY

BEGIN CATCH
    ROLLBACK TRANSACTION;
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

In [7]:
--Business Need 1:
BEGIN TRY
    SELECT animalName, animalType
    FROM cc_animal
    WHERE enclosureID = 1000;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

animalName,animalType
Jaws,Shark
Fin,Shark
Bitey,Shark
Moo Deng,Hippo
Sally,Hippo

In [8]:
--Business Need 2:
BEGIN TRY
    SELECT animalName, animalType
    FROM cc_animal
    WHERE trainerID = 0002;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

animalName,animalType
Simba,Lion
Nala,Lion
Chubby Unicorn,Rhino

In [13]:
--Business Need 3:
BEGIN TRY
    UPDATE cc_employee
    SET salary = salary * 1.03;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

SELECT *
FROM cc_employee;

employeeID,employeeName,jobCategory,salary,shift
1,Alice,Trainer,47740.50,Day
2,Alf,Trainer,48801.40,Night
3,Bob,Trainer,49862.30,Day
4,Blake,Trainer,50923.20,Night
6,Sylvester,Groundskeeper,37131.50,Day
7,Bugs,Groundskeeper,38192.40,Day
8,Willy,Groundskeeper,39253.30,Day
9,Leo,Groundskeeper,39253.30,Day
10,Hanna,Groundskeeper,39253.30,Day
11,Homer,Director,95481.00,Day
12,Jack,Food Worker,31827.00,Night
13,Karen,Food Worker,33948.80,Day

In [12]:
--Business Need 4:
BEGIN TRY
    DELETE FROM cc_employee
    WHERE employeeID = 0005;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

SELECT *
FROM cc_employee;

employeeID,employeeName,jobCategory,salary,shift
1,Alice,Trainer,46350.00,Day
2,Alf,Trainer,47380.00,Night
3,Bob,Trainer,48410.00,Day
4,Blake,Trainer,49440.00,Night
6,Sylvester,Groundskeeper,36050.00,Day
7,Bugs,Groundskeeper,37080.00,Day
8,Willy,Groundskeeper,38110.00,Day
9,Leo,Groundskeeper,38110.00,Day
10,Hanna,Groundskeeper,38110.00,Day
11,Homer,Director,92700.00,Day
12,Jack,Food Worker,30900.00,Night
13,Karen,Food Worker,32960.00,Day

In [11]:
--Business Need 5:
BEGIN TRY
    SELECT enclosureName, minTemperature, maxTemperature, 
           (minTemperature + maxTemperature) / 2 AS avgTemperature
    FROM cc_enclosure;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

enclosureName,minTemperature,maxTemperature,avgTemperature
Waterworks,50,80,65
Sundown Sahara,85,110,97.5
Rowdy Rainforest,70,95,82.5
Polar Place,30,50,40
Windy Woods,40,60,50

In [14]:
--Business Need 6:
BEGIN TRY
    SELECT animalType, AVG(age) AS avgAge
    FROM cc_animal
    GROUP BY animalType;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

animalType,avgAge
Bear,6
Coyote,4
Hippo,7
Lion,4
Parrot,2
Penguin,3
Polar Bear,5
Rhino,6
Shark,3
Snake,2

In [15]:
--Business Need 7:
BEGIN TRY
    SELECT jobCategory, SUM(salary) AS totalSalary
    FROM cc_employee
    GROUP BY jobCategory;
END TRY

BEGIN CATCH
    PRINT 'Error: ' + ERROR_MESSAGE();
END CATCH;

jobCategory,totalSalary
Director,95481.00
Food Worker,65775.80
Groundskeeper,193083.80
Trainer,197327.40